{% extends 'base.html' %}

{% set active = 'user_account' %}

{% block jumbotron %}
<div class="jumbotron" style="margin-top:-1rem;padding-top:2.5rem;padding-bottom:2.5rem">
    <div class="container">
        <h1 class="display-5">Change Password</h1>
        <p></p>
    </div>
</div>
{% endblock %}

{% block main %}
<div class="container">
    {% import "bootstrap/wtf.html" as wtf %}
    <div class="col-md-7" style="margin:auto">
        {{ wtf.quick_form(form, button_map={'submit': 'dark'}) }}
        <p>Or abort and <a class="plain-link" href="{{ url_for('main.user_account') }}">return to your account.</a></p>
    </div>
</div>
{% endblock %}
